@import "./../../../styles/root.scss";

.column {
    &.card {
        background-color: $mint;
        color: $sailor_blue;
        padding: 10px;

        .nameContainer {
            display: flex;
            justify-content: space-between;            

            .name {                
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 5px;
            }                    
            .caret {                
                cursor: pointer;
                height: 20px;
                width: 16px;
                background-repeat: no-repeat;
                background-position: center;
                &.up {
                    background-image: url("./../../../assets/caretUp.svg");
                }
    
                &.down {
                    background-image: url("./../../../assets/caretDown.svg");
                }
            }
        }
        .addressContainer {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;            

            .address {
                font-size: 14px;
            }
            .phone {                
                font-size: 14px;
            }
        }

        .genreContainer {
            display: flex;
            font-size: 14px;
            margin-bottom: 5px;
        }
        .hours {
            font-size: 14px;
        }

        .additionalContainer {
            display: flex;        
            font-size: 14px;
        }

        .icon {
            height: 24px;
            width: 24px;
            background-position: center;
            background-repeat: no-repeat;
            float: right;

            &.casual {
                background-image: url("./../../../assets/casual.svg");
            }

            &.formal {
                background-image: url("./../../../assets/formal.svg");
            }

            &.businessCasual {
                background-image: url("./../../../assets/business_casual.svg");
            }

            &.smartCasual {
                background-image: url("./../../../assets/smart_casual.svg");
            }
        }
    }
}