@import "../../styles/colors.scss";

.container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;

    .title {
        font-family: 'Italiana', serif;
        font-size: 48px;

    }
}